---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Date from '../components/Date.astro';

import compareAsc from 'date-fns/compareAsc'
import { getCollection } from 'astro:content';
const posts = (await getCollection('essays')).sort(
	(a, b) => -compareAsc(a.data.created, b.data.created)
);

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title="Home" />
		<Sidebar/>
		<main>
			<div class="contentwrapper">
				<h1>Hi ❤️</h1>
				<p>
					My name is Alexandre Papin.  
				</p>
				<p>
					Here you'll find a collection of thoughts I've forced myself to write down and share, hoping they'd get better in the process
				</p>
				<p>I hope you'll like them. If you do, let me know <a href="me@alexandrepapin.name">by mail</a> or on <a href="https://www.twitter.com/charmide">the twitter</a>. </p>
				<hr/>
				<h2>Recent musings</h2>
				<ul>					
				
					{
						posts.map((post) => (
							<li class="post-link">
								<p><a href={`/on/${post.slug}/`}>{post.data.title}</a></p>
								<p class="description">{post.data.description}</p>
							</li>
						))
					}
				</ul>
				
			</div>
		</main>
	</body>
</html>
<style>
	.post-link .description {
		margin-top: -0.7em;
	}

	

	li {
		margin-bottom: 1.8em;
	}
	
	</style>