---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Date from "../components/Date.astro";
import * as R from "ramda";

import { compareAsc } from "date-fns";
import { getCollection } from "astro:content";
const posts = (await getCollection("essays"))
  .sort((a, b) => -compareAsc(a.data.created, b.data.created))
  .filter((p) => !p.data.tags.includes("no-index"));
const tags = R.uniq(posts.flatMap((p) => p.data.tags));

const tagsOccurences = R.mergeAll(
  tags.map((tag) => ({
    [tag]: posts.filter((p) => p.data.tags.includes(tag)).length,
  }))
);

const sortedTags = R.sortBy((tag) => -tagsOccurences[tag], tags);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title="Home" />
    <main>
      <div class="homewrapper">
        <section class="intro">
          <h1>Hi ❤️</h1>
          <p>
            Welcome to my corner of the web space, my name is Alexandre Papin.
          </p>
          <p>
            Here you'll mostly find a collection of thoughts I've forced myself
            to write down and share, hoping they'd get better in the process
          </p>
          <p>
            I hope you'll like them. If you do, tell me about it on <a
              href="https://www.twitter.com/charmide">the twitter</a
            >.
          </p>
          <hr />
          <h2>Tags</h2>
          <section class="tags-list">
            {
              sortedTags.map((tag) => (
                <div class="tag">
                  <span class="label">{tag}</span>
                  <span class="number">
                    {posts.filter((p) => p.data.tags.includes(tag)).length}
                  </span>
                </div>
              ))
            }
          </section>
        </section>
        <section class="posts">
          {
            posts.map((post) => (
              <a href={`/on/${post.slug}/`} class="post-link">
                <section>
                  <h3 class="title">{post.data.title}</h3>
                  <span class="date">
                    <Date date={post.data.created} />
                  </span>
                  · <span class="description">{post.data.description}</span>
                </section>
              </a>
            ))
          }
        </section>
      </div>
    </main>
    <style>
      * {
        box-sizing: border-box;
      }

      .homewrapper {
        margin: 0 10px;
        padding: 0 1em;
        position: relative;

        display: flex;
      }

      .intro {
        min-width: 340px;
        width: 340px;
        padding-left: 1em;
        padding-right: 1em;
      }

      .tags-list {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
      }

      .posts {
        height: 100%;
        padding: 1em;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      .post-link {
        text-decoration: inherit;
        color: inherit;
        width: 360px;
      }
      .post-link section {
        padding: 10px;
        margin-bottom: 1.4em;
        transition: all 0.2s;
      }
      .post-link section:hover {
        transform: translate3d(0, -8px, 0);
      }
      .post-link .title {
        font-size: 1.2em;
        margin: 0;
      }
      .post-link .description {
        font-size: 0.9em;
      }
      .post-link .date {
        font-size: 0 9em;
        opacity: 0.6;
      }
    </style>
  </body>
</html>
