---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "./BaseHead.astro";
import Date from "./Date.astro";


const { posts, activeTag } = Astro.props;
// (^∇^๑)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="pt-6 px-2">
    <main class="mx-auto">
        <section id="intro" class="max-w-[70ch] mx-auto font-title text-xl font-semibold p-4 bg-cyan-600 text-white">
          <h1>Hi ❤️ ٩( ᐛ )و</h1>
          <p>
            Welcome to my corner of the web space, my name is Alexandre Papin.
          </p>
          <p>
            If you'd like to get in touch, the easiest way is through <a
              href="https://www.twitter.com/charmide" class="underline">the twitter</a
            > or with long thoughtful words sent to <a href="mailto:me@alexandrepapin.name">me@alexandrepapin.name</a>.
          </p>
        </section>
        <section id="posts" class="p-6 max-w-[65ch] mx-auto">
          <h1 class="font-title text-2xl">My writing</h1>
          <p>No matter how much I write, I don't think it's enough. I should publish more of it, too. Here lie my timid attempts at it.</p>
          {
            posts.map((post) => (
              <a href={`/on/${post.slug}/`} class="post-link">
                <section class="my-4 border-black border p-2 transition-all hover:translate-x-1">
                  <h3 class="font-title text-xl">{post.data.title}</h3>
                  <span>
                    <Date date={post.data.created} />
                  </span>
                  · <span>{post.data.description}</span>
                </section>
              </a>
            ))
          }
        </section>
    </main>
    <style>
* {

}
    </style>
  </body>
</html>
