---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';

type Props = CollectionEntry<'essays'>['data'];
const { title, description, pubDate, revDate, heroImage, numberOfWords, minutesRead } = Astro.props;
---


<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border: none;
				border-top: 2px solid var(--separator-color);
				margin: 1rem 0;
			}
			.subdued {
				opacity: 0.7;
				font-size: 14px;
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header title={title} />
		<Sidebar />
		<main>
			<section class="contentwrapper">
				<article>
					{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
					<h1 class="title">{title}</h1>
					<span class="subdued">
						{pubDate && !revDate && <span>Written <time>{pubDate}</time></span>}
						{pubDate && revDate && <span>Written <time>{pubDate}</time> · revised {revDate}</span>}
						{<span>· {Math.floor(numberOfWords/100)/10}k words, {minutesRead}</span>}
					</span>
					<hr />
					<slot />
				</article>
			</section>
		</main>
	</body>
</html>
