---
import slugify from "@sindresorhus/slugify";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Date from "../components/Date.astro";

type Props = CollectionEntry<"writing">["data"];
const {
  title,
  description,
  created,
  updated,
  previewImage,
  heroImage,
  headings,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={previewImage} />
  </head>

  <body>
    <main>
        <article>
          <div class="px-4 p-2">
          {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
          <h1 class="text-6xl font-title pb-2" id={slugify(title)}>{title}</h1>
          <span>
            {
              created && !updated && (
                <span>
                  Written <Date date={created} />
                </span>
              )
            }
            {
              created && updated && (
                <span>
                  Written <Date date={created} /> · updated
                  <Date date={updated} />
                </span>
              )
            }
         </span>
          <p><i>{description}</i></p>
        </div>
          <hr />
          {
            headings.length > 0 && (
              <div class="toc hidden">
                <ol>
                  {headings.map((heading) => (
                    <li>
                      <a href={"#" + heading.slug}>{heading.text}</a>
                    </li>
                  ))}
                </ol>
              </div>
            )
          }
          <div class="pt-4 pb-12 prose prose-headings:font-title prose-lg mx-auto font-serif px-4">
            <slot />
          </div>
        </article>
    </main>
    <style>
      * {

      }


    </style>
  </body>
</html>
